* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.w3-grey{
    height:24px;
    width:20%;
}

.bottom-container {
    width: 100%;
}

.content-bottom {
    width: 500px;
}

.add-meal {
    display: block;
    padding: 16px;
    background: #4FC76B;
    border-color: #0EA832;
    color: white;
    font-weight: normal;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.foods-container {
    width: 100%;
}

.food {
    position: relative;
    margin: 8px;
    border-bottom: 3px #D8D8D8;
    /* FIXME:  */
}

.name {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}

.stats {}

.stats>span>* {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

.stats>span>div:first-child {
    width: 10px;
    height: 10px;
    margin-right: 4px;
    border-radius: 10px;
}

.stats>span>span, .stats>span>input {
    margin-right: 8px;
}

.stats>.calories>div:first-child {
    background: #0099FF;
}

.stats>.protein>div:first-child {
    background: #FF0062;
}

.stats>.carbs>div:first-child {
    background: #00FF4E;
}

.stats>.fat>div:first-child {
    background: #FF7F00;
}
/* http://the-echoplex.net/flexyboxes/?fixed-height=on&display=inline-flex&flex-direction=row&flex-wrap=nowrap&justify-content=flex-start&align-items=flex-start&align-content=flex-end&order%5B%5D=0&flex-grow%5B%5D=1&flex-shrink%5B%5D=1&flex-basis%5B%5D=auto&align-self%5B%5D=auto&order%5B%5D=0&flex-grow%5B%5D=1&flex-shrink%5B%5D=1&flex-basis%5B%5D=auto&align-self%5B%5D=auto
    */

.edit {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
}

.save {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.edit>* {
    padding: 4px;
}

.save>* {
    padding: 4px;
}

.edit>.text {
    display: table-cell;
    background: #EFEFEF;
    vertical-align: middle;
    font-size: 12px;
    color: #909090;
}

.edit>.icon {
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    background: #F28535;
    color: white;
}

.save>.text {
    display: table-cell;
    background: #EFEFEF;
    vertical-align: middle;
    font-size: 12px;
    color: #909090;
}

.save>.icon {
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    background: #F28535;
    color: white;
}
